<hr>
<h2>*ngIf</h2>
<p *ngIf="true">True</p> <!--Vai aparecer no html-->
<p *ngIf="condition; else elseBlock">Alguma coisa com condition</p>
<ng-template #elseBlock>
    <p>
        false
    </p>
</ng-template>
<br>

<p *ngIf="conditionClick">
    True
</p>
<p *ngIf="!conditionClick">
    false
</p>
<button (click)="onClick()">Clicar</button>
<hr>

<h2>*ngFor</h2>
<ul>
    <!--Esta iterando o objeto dentro do array-->
    <li *ngFor="let item of list; let i = index">[ {{i}} ]: Name: {{item.name}} - Idade: {{item.idade}} <button (click)="onClickEventDelete(i)">Deletar</button></li>
</ul>
<!--Para adicionar nome e idade ao array e listar-->
<input [(ngModel)]="name">
<input [(ngModel)]="idade">
<button (click)="onClickAdd()">Adicionar</button>
<hr>

<h2>*ngSwitch</h2>
<input type="text" [(ngModel)]="nameSwitch">
<div [ngSwitch]="nameSwitch">
    <p *ngSwitchCase="'Leonardo'">
        Leonardo
    </p>
    <p *ngSwitchCase="'Tassiane'">
        Tassiane
    </p>
</div>
