<hr>
<ng-content select="h1"></ng-content>

<!--ngClass e ngStyle-->
<!--

<p [ngClass]="{'active': valor, 'disabled': !valor}">NgClass</p>
<p [ngStyle]="{'height': heightPx, 'background': backgroudColor}">NgStyle</p>

-->


<hr>
<!--ngModel-->
<h2>ngModel</h2>
<input [(ngModel)]="name"><br>
<button (click)="save()">Salvar</button>
<li *ngFor="let item of list">{{item.name}}</li>
<hr>

<h2>ng-Template</h2>
<ng-template ngFor let-item [ngForOf]="list">

    <p>
        {{item.name}}
    </p>

</ng-template>

<h2>ng-Content</h2>
<ng-content select="h2"></ng-content>

<hr>
<h2>Pipes</h2>
<input [(ngModel)]="name"><br>
<button (click)="save()">Salvar</button>
<li *ngFor="let item of list">{{item.name | uppercase}}</li> <!--Converte todo o laço em palavras com eltras maiusculas-->
{{date | date: 'dd/MM/yyyy'}} <!--Pega o date e converte ele em um formato separado por dia/mês/ano-->